/* 상단 매뉴 영역 */
#menu_container {
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFDDBB;
  margin-bottom: 90px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 30px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;

}

.menu li a:hover {
  color: #FF6347;
  transition: all 0.5s;
}

/*1문단 영역*_슬릭, todolist포함*/
#firstScreen {
  display: flex;
}

/* 슬릭 사진 영역 */
#photo_container {
  width: 590px;
  height: 600px;
  margin-top: 30px;
  margin-right: 300px;
}

.post1 {
  max-width: 590px;
  max-height: 600px;
}


/*todolist 영역*/
#todolist {
  width: 330px;
  height: 600px;
}

#todolist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#todolist li {
  margin-bottom: 10px;
  /* 각각의 입력 상자 사이의 간격 조절 */
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

#todolist input[type="text"] {
  width: 100%;
  /* 여백을 고려한 너비 조절 */
  padding: 10px;
  /* 입력 상자의 내부 여백 조절 */
  box-sizing: border-box;
  /* 여백을 너비에 포함하도록 설정 */
  border: none;
}

#todolist input[type="text"]:focus {
  border-bottom: 1px solid #FF6347;
}



/*calender 영역*/
#calendar table {
  width: 900px;
  height: 600px;
  margin-left: 300px;
  border-collapse: collapse;
}

#calendar table tr {
  border: 1px solid #ccc;
  text-align: center;
}

#calendar table tr th {
  background-color: beige;
  font-weight: bolder;
  font-size: large;
}

#calendar table tr:nth-child(2) td:first-child {
  color: gray !important;
  /* 글자 색을 흰색으로 설정 */
}

#calendar table tr:nth-child(2) td:nth-child(7) {
  color: gray !important;
  /* 글자 색을 흰색으로 설정 */
}

#calendar table tr td:nth-child(1) {
  color: red;
}


#calendar table tr td:nth-child(7) {
  color: blue;
}



#calendar table tr td:hover {
  background-color: #FF6347;
  color: white;
}